
.editor-container {
  flex: 5;
  width: 50%;
  height: 540px;
  margin: 20pxauto;
  position: fixed;
  right: 0%;
}
.question-container{
  flex: 5;
  width: 40%;
  height: 540px;
  margin: 20pxauto;
  position: fixed;
  left: 0%;

}
#editor {
  height: 100%;
  width: 100%;
  font-size: 20px;
  position: relative;
}

#question {
  height: 100%;
  width: 100%;
  font-size: 20px;
  position: relative;
}


.header {
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}

.button-container {
  text-align: right;
  padding: 6px;
}

.btn {
  background: #57a958;
  color: white;
  padding: 8px;
  border: 0;
}

.output {
  padding: 4px;
  border: 2px solid gray;
  min-height: 300px;
  width: 99%;
  resize: none;
}