
nav {
  width: 100%;
  height: 12vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
    url("../images/space2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkslategrey;
}

nav .logo {
  width: 50%;
  text-align: center;
}

.seperator {
  width: 100%;
  height: 20px;
  background-color: black;

}

nav .menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

main {
  width: 99%;
  height: 84.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 87vh;
  width: 100lvw;
  margin-bottom: 8px;
}



.editor-container {
  flex: 5;
  order: 2;
  position: right;

}

#editor {
  height: 80%;
  width: 100%;
  font-size: 20px;
  position: relative;
  border: 1px solid black;
}

.question-container {
  flex: 3;
  order: 1;
  opacity: 0.8;
}

#questions {
  color: white;
  height: 100%;
  width: 100%;
  font-size: 23px;
  background-color: black;
  border: 1px solid black;
  text-align:1%;
}

.output {
  color: white;
  height: 20%;
  bottom: 0%;
  background-color: black;
  font-size: 23px;
  opacity: 0.8;
  text-align: start;
  position: relative;
}

.container h1 {
  color: pink;
  text-decoration: underline;
  font-weight: bold;
}

/* .menu */

.languages {
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  width: 200px;
  /* Adjust width as needed */
}

/* Optional: Style the dropdown arrow */
.languages::-ms-expand {
  display: none;
}

.languages::after {
  content: '\25BC';
  /* Unicode arrow-down symbol */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.button-container {
  text-align: right;
  padding: 100px;
}

.btn:hover {
  background: rgb(80, 79, 79);
  color: white;
  text-decoration: none;
  cursor: grab;
}

.btn {
  background:whitesmoke;
  color: rgb(0, 0, 0);
  padding: 10px 30px 10px 30px;
  border: 0;
  border-radius: 10px;
}
